
  <!-- <app-vpn-hours-data></app-vpn-hours-data> 
  <app-vpn-hours-data></app-vpn-hours-data>  -->
  <!-- <app-vpn-day-data></app-vpn-day-data>


  <app-vpn-weekday></app-vpn-weekday>

  <app-vpn-hours-data></app-vpn-hours-data> 

  <app-vpn-day-data></app-vpn-day-data>


  <app-vpn-weekday></app-vpn-weekday> -->
  
  <!-- <app-vpn-day-data></app-vpn-day-data>
  <app-vpn-day-data></app-vpn-day-data>
  <app-vpn-day-data></app-vpn-day-data>
  <app-vpn-day-data></app-vpn-day-data> -->
  <h4><span *ngIf="!global">User</span><span *ngIf="global">Global</span> Vpn Data::</h4>
  <div class="graph-header">
  <div>Hours Data</div>
  <div>Day Data</div>
  <div>Week Data</div></div>
  <app-vpn-hours-data></app-vpn-hours-data> 
  <app-vpn-day-data></app-vpn-day-data>
  <app-vpn-weekday></app-vpn-weekday>